body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Start HEADER */
.header-container {
  background-color: #0171f9;
}

.header {
  height: 80px;
  background-color: #0171F9;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 0 100px;
  max-width: 1300px;
  margin: auto;
}

.header-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.header-links a:hover {
  background-color: #1a7ff9;
}

.logo img {
  width: 150px;
}

.btn {
  border-radius: 50px;
  height: 52px;
  border: none;
  font-weight:600;
  font-size: medium;
  padding: 0 20px;
  background-color: #EE626B;
  color: #fff;
  text-transform: uppercase;
  transition: .3s;
}

.btn:hover {
  background-color: #9E4147;
  cursor: pointer;
}
/* End HEADER */

/* Start LANDING PAGE */
.landing-page-container {
  background-color: #0171F9;
  border-radius: 0 0 100px 100px;
}

.landing-page {
  background-color: #0171f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  color: #fff;
  border-radius: 0 0 100px 100px;
  -webkit-border-radius: 0 0 100px 100px;
  -moz-border-radius: 0 0 100px 100px;
  -ms-border-radius: 0 0 100px 100px;
  -o-border-radius: 0 0 100px 100px;
  max-width: 1300px;
  margin: auto;
}

.landing-page .slogan {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}

.landing-page .welcome {
  font-size: x-large;
  height: 10px;
}

.landing-page .description {
  color: #000;
  width: 80%;
  font-weight: 500;
  
}

/* .leftSide {
  width: 500px;
} */

.searchBar {
  position: relative;
  margin-top: 100px;
}

.searchBar input {
  border-radius: 50px;
  border: none;
  outline: none;
  width: 40%;
  height: 50px;
  font-size: large;
  padding-left: 20px;
}

.searchBar input::placeholder {
  font-size:medium;
}

.searchBar .searchBtn {
  position: absolute;
  left: 300px;
}

.leftSide {
  padding-top: 30px;
  flex: 8;
}

.image-container {
  flex: 4;
}

.image-container img {
  width: 100%;
  border-radius: 20px;
}
/* End LANDING PAGE */

/* Start TRENDING GAMES */
.trending-container {
  max-width: 1300px;
  margin: auto;
  margin-top: 100px;
}

.trending-container span {
    color: #ee626b;
    text-transform: uppercase;
    font-weight: 600;
}

.trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.trending-header h1, .most-header h1, .top-categories-header h1 {
    margin-top: 0;
}

.trending-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 25px 50px;
}

.card {
    width: 300px;
    background-color: #EEEEEE;
    border-radius: 20px;
}

.card .thumb {
    border-radius: 20px 20px 0 0;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
}

/* .card-info .card-name {
  padding: 0 20px;
} */

.card-info .card-name h3 {
  margin-top: 0px;
}

.card-info .card-name p {
  color: gray;
  margin-bottom: 0;
}

.card-info .icon img {
    width: 50px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.card-info img:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

/* .card-info .icon img {
  margin-right: 20px;
} */
/* End TRENDING GAMES */

/* Start MOST PLAYED */
.most-played-container {
  padding: 50px;
  background-color: #EEEEEE;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  /* max-width: 1300px;
  margin: auto; */
}

.most-played-container span {
  color: #ee626b;
  text-transform: uppercase;
  font-weight: 600;
}

.most-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

.most-header h1 {
  margin-top: 0;
}

.most-played-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 25px 50px;
}

.item-most {
  width: 200px;
}

.item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 25px;
  text-align: center;
}

.item-info .item-name p {
  color: gray;
}

.item-most .thumb {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* End MOST PLAYED */

/* Start TOP CATEGORIES */
.top-categories-container {
  margin-top: 150px;
  padding: 25px 50px;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 150px;
}

.top-categories-container span {
  color: #ee626b;
  text-transform: uppercase;
  font-weight: 600;
}

.top-categories-header, .top-categories-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-categories-header h1 {
  margin-top: 0;
}

.top-categories-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 25px 50px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.top-categories-item {
  /* width: 250px; */
  height: 200px;
  background-color: #0171f9;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

}

.top-categories-item:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.top-categories-item p {
  text-align: center;
  /* font-size: 14px; */
  /* padding: 2px 0 2px 0; */
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.top-categories-item .thumb {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* End TOP CATEGORIES */

/* Start FOOTER */
.footer-container {
  background-color: #0171f9;
  height: 150px;
  border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  -moz-border-radius: 100px 100px 0 0;
  -ms-border-radius: 100px 100px 0 0;
  -o-border-radius: 100px 100px 0 0;
  display: flex;
  align-items: center;
  /* margin-top: 150px; */
}

.footer {
  max-width: 1300px;
  margin: auto;
  text-align: center;
  color: #fff;
  font-weight:500;
  font-size: larger;
}
/* End FOOTER */

/* .footer p {
  padding: 20px;
  font-size: 20px;

} */
/* End Footer */